
<%page expression_filter="h"/>
<%inherit file="base.html" />
<%def name="online_help_token()"><% return "welcome" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
  from django.conf import settings
  from django.utils.translation import gettext as _
  from openedx.core.djangolib.markup import HTML, Text

  from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
  studio_name = configuration_helpers.get_value('PLATFORM_NAME', settings.STUDIO_NAME)
  lms_base = configuration_helpers.get_value('LMS_BASE', settings.LMS_BASE)
%>

<%block name="title">${_("Welcome")}</%block>
<%block name="bodyclass">not-signedin index view-howitworks</%block>

<%block name="content">

<div class="wrapper-content-header wrapper">
  <section class="content content-header">
    <header>
      <h1><span class="wrapper-text-welcome">No tienes permiso para ver esta página.</span></h1>
      <p class="tagline">Por favor inicie sesión.</p>
    </header>
  </section>
</div>

</%block>