<%page expression_filter="h"/>
<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query'),
      "${user_language | n, js_escaped_string}",
      "${user_timezone | n, js_escaped_string}"
    );
  </%static:require_module>
</%block>
% endif

<%

    # Conseguir nombre de usuario actual
    self.real_user = getattr(user, 'real_user', user)
    username = self.real_user.username

    # Filtrar cursos, solo se muestra la sección en la que se está inscrito, sino, la sección más reciente
    latest_courses = {}
    for course in courses:

        try:
            parts = str(course).split('+')
            if len(parts) != 3:
                continue

            # No se muestran cursos base
            if parts[2] == "BASE":
                continue

            course_redfid_id = parts[1]
            course_year = parts[2]

            # Cut the string based on the last underscore index
            if "MODULO1REDFID" in course_redfid_id or "REDFID_XXX_ELEAR_SLF" in course_redfid_id or "REDFID_IPD_ELEAR_SLF" in course_redfid_id:
                course_identifier = "REDFID_IPD_ELEAR_SLF"
                if "MODULO1REDFID" in course_redfid_id:
                    section_identifier = '2022_2'
                else:
                    section_identifier = course_year
            else:
                last_underscore_index = course_redfid_id.rfind('_')
                course_identifier = course_redfid_id[:last_underscore_index]
                section_identifier = course_year

            if course_identifier not in latest_courses.keys():
                if username in [u.get_username() for u in course.courseenrollment_set.users_enrolled_in(course)]:
                    latest_courses[course_identifier] = {'course': course, 'section': section_identifier, 'display_type': 'enrolled'}
                else:
                    latest_courses[course_identifier] = {'course': course, 'section': section_identifier, 'display_type': 'latest'}
            else:
                if username in [u.get_username() for u in course.courseenrollment_set.users_enrolled_in(course)]:
                    latest_courses[course_identifier] = {'course': course, 'section': section_identifier, 'display_type': 'enrolled'}
                elif section_identifier > latest_courses[course_identifier]["section"] and latest_courses[course_identifier]["display_type"] == 'latest':
                    latest_courses[course_identifier] = {'course': course, 'section': section_identifier, 'display_type': 'latest'}
                else:
                    continue
        except:
            continue

    latest_courses_to_render = [entry['course'] for entry in latest_courses.values()]
%>

<%block name="pagetitle">${_("Courses")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="find-courses" style="padding: 20px !important; background: #ffffff !important;">
      <a class="back-to-landing-button" href="/">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Volver a Aprendizaje Profesional
      </a>
      <h1 class="landing-title" style="text-align: left;">Cursos disponibles</h1>
      <p class="landing-description">Conoce los cursos en línea de RedFID, con los que podrás perfeccionar tu práctica docente siguiendo un modelo autoinstruccional.</p>
      <hr>
      <section class="courses-container">
        % if course_discovery_enabled:
        <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
          <div id="discovery-message" class="search-status-label"></div>
          <form class="wrapper-search-input">
            <label for="discovery-input" class="sr">${_('Search for a course')}</label>
            <input id="discovery-input" class="discovery-input" placeholder="${_('Search for a course')}" type="text"/>
            <button type="submit" class="button postfix discovery-submit" title="${_('Search')}">
              <span class="icon fa fa-search" aria-hidden="true"></span>
              <div aria-live="polite" aria-relevant="all">
                <div id="loading-indicator" class="loading-spinner hidden">
                  <span class="icon fa fa-spinner fa-spin" aria-hidden="true"></span>
                  <span class="sr">${_('Loading')}</span>
                </div>
              </div>
            </button>
          </form>
        </div>

        <div id="filter-bar" class="filters hide-phone is-collapsed">
        </div>
        % endif

        <div class="courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}">
          <ul class="courses-listing courses-list">
            %for course in latest_courses_to_render:
            <li class="courses-listing-item">
              <%include file="../course.html" args="course=course" />
            </li>
            %endfor
          </ul>
        </div>


        % if course_discovery_enabled:
        <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu">
          <h2 class="header-search-facets">${_('Refine Your Search')}</h2>
          <section class="search-facets-lists">
          </section>
        </aside>
        % endif

      </section>
    </section>
</main>
