## mako
<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from datetime import datetime
from django.conf import settings
import pytz
from cms.djangoapps.contentstore.config.waffle import waffle, ENABLE_ACCESSIBILITY_POLICY_PAGE
from openedx.core.djangolib.markup import HTML, Text
%>

<footer class="eol-footer-container eol-footer border-0 shadow-none mt-auto text-center mx-auto mb-4" style="max-width: 100%; margin-top:40px;">
    <div class="footer-bar"></div>
    <div class="footer-container">
      <div class="footer-logos-container">
        <img decoding="async" loading="lazy" src="/static/studio/redfid-theme/images/l_fcfm.png" alt="">
        <img decoding="async" loading="lazy" src="/static/studio/redfid-theme/images/l_cmmedu.png" alt="">
        <img decoding="async" loading="lazy" src="/static/studio/redfid-theme/images/l_fondef.jpg" alt="" style="padding: 0; max-width: 19%">
        <img decoding="async" loading="lazy" src="/static/studio/redfid-theme/images/l_cpeip.png" alt="" style="padding: 0 20px;">
        <img decoding="async" loading="lazy" src="/static/studio/redfid-theme/images/l_consorcio.jpg" alt="">
        <img decoding="async" loading="lazy" src="/static/studio/redfid-theme/images/l_unesco.jpg" alt="" style="padding: 0;">
      </div>
      <hr style=" border: 0; border-top-width: 0px; border-top-style: none; border-top-color: currentcolor; border-top: 1px solid #ddd; height: 1px; margin: 10px auto 20px auto; max-width: 940px; width: 100%;"/>
      <div class="col-12 my-auto" style="margin-bottom: 10px !important; text-align: center;">
        <a href="https://open.edx.org">
          <img src="https://files.edx.org/openedx-logos/open-edx-logo-tag.png" alt="Con la tecnología de Open edX" width="140">
        </a>
      </div>
        <p class="footer-text-1">© RedFID Aprendizaje Profesional. Todos los derechos reservados, excepto donde se indique lo contrario. Open edX y sus respectivos logos son marcas registradas de edX Inc.</p>
        <a href="https://www.redfid.cl/terminos-y-condiciones" target="_blank" class="footer-text-2">Términos y condiciones</a>
        <p class="footer-text-3">Copyright © ${datetime.now().year} - RedFID</p>
    </div>
    <div class="footer-container-mobile">
      <div class="footer-logos-container">
        <img decoding="async" loading="lazy" src="/static/studio/redfid-theme/images/l_fcfm.png" alt="" style="padding: 0 0 0 20px;">
        <img decoding="async" loading="lazy" src="/static/studio/redfid-theme/images/l_cmmedu.png" alt="">
        <img decoding="async" loading="lazy" src="/static/studio/redfid-theme/images/l_fondef.jpg" alt="" style="margin: 0 20px 0 0;">
      </div>
      <div class="footer-logos-container">
        <img decoding="async" loading="lazy" src="/static/studio/redfid-theme/images/l_cpeip.png" alt="" style="padding: 0 0 0 20px;">
        <img decoding="async" loading="lazy" src="/static/studio/redfid-theme/images/l_consorcio.jpg" alt="">
        <img decoding="async" loading="lazy" src="/static/studio/redfid-theme/images/l_unesco.jpg" alt="" style="padding: 0 20px 0 0;">
      </div>
      <hr style=" border: 0; border-top-width: 0px; border-top-style: none; border-top-color: currentcolor; border-top: 1px solid #ddd; height: 1px; margin: 10px auto 20px auto; max-width: 940px; width: 100%;"/>
      <div class="col-12 my-auto" style="margin-bottom: 10px !important;">
        <a href="https://open.edx.org">
          <img src="https://files.edx.org/openedx-logos/open-edx-logo-tag.png" alt="Con la tecnología de Open edX" width="140">
        </a>
      </div>
        <p class="footer-text-1">© RedFID Aprendizaje Profesional. Todos los derechos reservados, excepto donde se indique lo contrario. Open edX y sus respectivos logos son marcas registradas de edX Inc.</p>
        <a href="https://www.redfid.cl/terminos-y-condiciones" target="_blank" class="footer-text-2">Términos y condiciones</a>
        <p class="footer-text-3">Copyright © ${datetime.now().year} - RedFID</p>
    </div>
  </footer>