.wrapper-footer footer#footer-openedx .wrapper-logo a img, .wrapper-footer footer .wrapper-logo a img {
    height: 100% !important;
    width: 100px !important;
}

.eol-footer-container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px){
  .global-header .nav-links .secondary {
      margin: 0 0 0 auto !important;
  }
}
.global-header .nav-links .main .nav-tab a.active, .global-header .nav-links .main .nav-tab a:hover{
  color: white !important;
  background-color: #40b4ba !important;
}
@media screen and (min-width: 980px){
  .home .courses-container .courses .courses-listing .courses-listing-item {
    min-width: 23.23176% !important;
    max-width: 23.23176% !important;
  }
}

@media (min-width: 992px){
  .global-header .nav-links .main .nav-tab a {
      margin-left: 5px;
  }
}
@media screen and (min-width: 980px){
  .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item, .university-profile .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item {
    min-width: 23.23176% !important;
    max-width: 23.23176% !important;
  }
}
.header-bar {
  background-color: #40b4ba !important;
  width: 100%;
  height: 17px;
}
@media (min-width: 992px){
  .global-header .nav-links .main {
      float: left;
      margin: 31px 0 0 20px !important;
  }
}

@media (min-width: 992px){
  .global-header .header-logo .course-header {
      margin: 0 !important;
  }
}

.main-header {
  max-width: 1400px;
  margin: auto;
  padding: 0 2%;
}

@media screen and (min-width: 1440px) {

  .redfid-header-desktop {
    display: flex;
    margin: auto;
    align-items: center;
    height: 70px;
  }

  .url-link-header {
    float: left;
    padding: 0px 10px;
    width: fit-content;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: white;
    font-weight: bold;
  }
  
  .url-link-header:hover {
    background-color: #40b4ba !important;
    text-decoration: none;
    color: white !important;
  }
  
  .url-link-header-selected {
    background-color: #40b4ba !important;
    color: white !important;
  }
  
  .url-link-header:hover a {
    color: white !important;
    text-decoration: none !important;
  }
  
  .url-link-header>a {
    /* padding: 30px; */
    position: relative;
    margin: 15px;
    /* color: white; */
    text-decoration: none !important;
    color: #40b4ba !important;
  }
  
  .url-link-header-selected>a {
    color: white !important;
  }
  
  .url-link-header a:focus {
    outline: none !important;
  }

}

@media screen and (max-width: 1439px) and (min-width: 1200px) {
  .redfid-header-desktop {
    display: flex;
    margin: auto;
    align-items: center;
    height: 70px;
    justify-content: left;
  }

  .url-link-header {
    float: left;
    padding: 0px 10px;
    width: fit-content;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: white;
    font-weight: bold;
  }
  
  .url-link-header:hover {
    background-color: #40b4ba !important;
    text-decoration: none;
    color: white !important;
  }
  
  .url-link-header-selected {
    background-color: #40b4ba !important;
    color: white !important;
  }
  
  .url-link-header:hover a {
    color: white !important;
    text-decoration: none !important;
  }
  
  .url-link-header>a {
    /* padding: 30px; */
    position: relative;
    margin: 15px;
    /* color: white; */
    text-decoration: none !important;
    color: #40b4ba !important;
  }
  
  .url-link-header-selected>a {
    color: white !important;
  }
  
  .url-link-header a:focus {
    outline: none !important;
  }
}

@media screen and (max-width: 1199px) and (min-width: 993px) {
  .redfid-header-desktop {
    display: flex;
    margin: auto;
    align-items: center;
    height: 70px;
    justify-content: left;
  }

  .url-link-header {
    float: left;
    padding: 0px 10px;
    width: fit-content;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: white;
    font-weight: bold;
  }
  
  .url-link-header:hover {
    background-color: #40b4ba !important;
    text-decoration: none;
    color: white !important;
  }
  
  .url-link-header-selected {
    background-color: #40b4ba !important;
    color: white !important;
  }
  
  .url-link-header:hover a {
    color: white !important;
    text-decoration: none !important;
  }
  
  .url-link-header>a {
    /* padding: 30px; */
    position: relative;
    margin: 15px;
    /* color: white; */
    text-decoration: none !important;
    color: #40b4ba !important;
  }
  
  .url-link-header-selected>a {
    color: white !important;
  }
  
  .url-link-header a:focus {
    outline: none !important;
  }
}

@media screen and (max-width: 992px) {
  .redfid-header-desktop {
    display: none;
  }
}

.side-container {
  display: none !important;
}


.content-wrapper {
  margin-left: auto;
  margin-right: auto;
}

a .logo {
  height: 48px;
}

.global-header {
  border: 0 !important;
  border-bottom: 1px solid #ededed !important;
  box-shadow: none !important;
}

.global-header .header-logo {
  margin-bottom: 0;
}

.sign-in-btn {
  background-color: #40b4ba !important;
}

.sign-in-btn:hover {
  background-color: #fff !important;
  color: #40b4ba !important;
  border-color: #40b4ba !important;
}

@media screen and (min-width: 992px){

  .landing-title {
    font-size: 2rem;
    max-width: 1400px;
    padding: 0 2%;
    text-align: left;
    font-weight: bolder;
    margin: 42px auto;
    color: #333;
  }

  .landing-subtitle {
    font-size: 2rem;
    max-width: 1400px;
    padding: 0 2%;
    text-align: left;
    font-weight: bolder;
    margin: 36px auto;
    color: #40b4ba;
  }

  .landing-description {
    margin: 40px auto;
    text-align: justify;
    padding: 0 2%;
    max-width: 1400px;
    line-height: 1.5;
  }

  .audiovisual-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    max-width: 1400px;
    margin: 36px auto;
  }

  .audiovisual-image {
    width: 45%;
  }

  .audiovisual-image a {
    width: 100%;
  }

  .landing-course-container {
    display: flex;
    width: 100%;
  }

  .landing-course-image-container {
    width: 60%;
  }

  .landing-course-image-container img {
    width: 100%;
  }

  .landing-course-data-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .landing-course-title {
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.2;
    padding-top: 10px;
    text-align: justify;
  }

  .landing-course-description {
    text-align: justify;
    padding: 0 30px;
    font-size: 0.9em;
    flex: 1;
    line-height: 1.4;
  }

  .landing-course-button {
    color: white !important;
    background-color: #eb947e;
    border-radius: 0;
    padding: 5px 30px;
    margin: 3% 10%;
    text-align: center;
  }

  .landing-course-datetime {
    text-align: center;
    padding: 0 30px;
    font-size: 0.9em;
  }

}

@media screen and (max-width: 991px){

  .landing-title {
    font-size: 1.3rem;
    max-width: 1400px;
    padding: 0 2%;
    text-align: left;
    font-weight: bolder;
    color: #333;
  }

  .landing-subtitle {
    font-size: 1.5rem;
    max-width: 1400px;
    padding: 0 2%;
    text-align: left;
    font-weight: bolder;
    margin: 20px auto;
    color: #40b4ba;
  }

  .landing-description {
    text-align: justify;
    padding: 0 2%;
    max-width: 1400px;
    line-height: 1.5;
    font-size: 0.8em;
  }

  .audiovisual-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    flex-direction: column;
  }

  .audiovisual-image {
    width: 96%;
    margin: 2%;
  }

  .audiovisual-image a {
    width: 100%;
  }

  .landing-course-container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .landing-course-image-container {
    width: 96%;
    margin: 2%;
  }

  .landing-course-image-container img {
    width: 100%;
  }

  .landing-course-data-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .landing-course-title {
    font-weight: bold;
    font-size: 0.8em;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.2;
    padding-top: 10px;
    text-align: justify;
  }

  .landing-course-description {
    text-align: justify;
    padding: 0 3px;
    font-size: 0.7em;
    flex: 1;
    line-height: 1.4;
  }

  .landing-course-button {
    color: white !important;
    background-color: #eb947e;
    border-radius: 0;
    padding: 5px 30px;
    margin: 3% 10%;
    text-align: center;
  }

  .landing-course-datetime {
    text-align: center;
    padding: 0 30px;
    font-size: 0.7em;
  }

}
