<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>


<%
    # Filtrar cursos, solo se muestra la sección más reciente
    latest_courses = {}
    for course in courses:

        try:

            parts = str(course).split('+')
            if len(parts) != 3:
                continue

            # No se muestran cursos base
            if parts[2] == "BASE":
                continue

            course_redfid_id = parts[1]
            course_year = parts[2]

            # Cut the string based on the last underscore index
            if "MODULO1REDFID" in course_redfid_id or "REDFID_XXX_ELEAR_SLF" in course_redfid_id or "REDFID_IPD_ELEAR_SLF" in course_redfid_id:
                course_identifier = "REDFID_IPD_ELEAR_SLF"
                if "MODULO1REDFID" in course_redfid_id:
                    section_identifier = '2022_2'
                else:
                    section_identifier = course_year
            else:
                last_underscore_index = course_redfid_id.rfind('_')
                course_identifier = course_redfid_id[:last_underscore_index]
                section_identifier = course_year

            if course_identifier not in latest_courses.keys():
                latest_courses[course_identifier] = {'course': course, 'section': section_identifier}
            else:
                if section_identifier > latest_courses[course_identifier]["section"]:
                    latest_courses[course_identifier] = {'course': course, 'section': section_identifier}
                else:
                    continue
        except:
            continue

    latest_courses_to_render = [entry['course'] for entry in latest_courses.values()]
%>

<section class="courses-container">
  <section>

    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <section class="courses">
        <ul class="courses-listing">
          ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
          %for course in latest_courses_to_render[:homepage_course_max]:
          <li class="courses-listing-item" style="max-height: none !important; width: 100% !important;">
              <%include file="course.html" args="course=course" />
          </li>
        %endfor
        </ul>
      </section>
    ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
      % if homepage_course_max and len(courses) > homepage_course_max:
      <div class="courses-more">
        <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
      </div>
    % endif
    % endif

  </section>
</section>