## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled

  from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers

%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<footer class="footer">
  <div class="footer-bar"></div>
  <div class="footer-container">
      <div class="footer-logos-container">
          <img decoding="async" loading="lazy" src="https://static.redfid.cl/branding/img/logos/l_fcfm.png" alt="">
          <img decoding="async" loading="lazy" src="https://static.redfid.cl/branding/img/logos/l_cmmedu.png" alt="">
          <img decoding="async" loading="lazy" src="https://static.redfid.cl/branding/img/logos/l_fondef.jpg" alt="" style="padding: 0; max-width: 19%">
          <img decoding="async" loading="lazy" src="https://static.redfid.cl/branding/img/logos/l_cpeip.png" alt="" style="padding: 0 20px;">
          <img decoding="async" loading="lazy" src="https://static.redfid.cl/branding/img/logos/l_consorcio.jpg" alt="">
          <img decoding="async" loading="lazy" src="https://static.redfid.cl/branding/img/logos/l_oei.png" alt="">
          <img decoding="async" loading="lazy" src="https://static.redfid.cl/branding/img/logos/l_unesco.jpg" alt="" style="padding: 0;">
      </div>
      <hr class="footer-line">
      <div class="col-12 my-auto pb-4">
        <a href="https://open.edx.org">
          <img src="https://files.edx.org/openedx-logos/open-edx-logo-tag.png" alt="Con la tecnología de Open edX" width="140">
        </a>
      </div>
      <p class="footer-copyright">© RedFID. Todos los derechos resesrvados, excepto donde se indique lo contrario.</p>
      <a style="color: #40b4ba;" href="https://www.redfid.cl/terminos-y-condiciones" target="_blank" class="footer-copyright">Términos y condiciones</a>
      <p class="footer-copyright">Copyright © 2024 - RedFID</p>
  </div>
  <div class="footer-container-mobile">
      <div class="footer-logos-container-1">
          <img decoding="async" loading="lazy" src="https://static.redfid.cl/branding/img/logos/l_fcfm.png" alt="">
          <img decoding="async" loading="lazy" src="https://static.redfid.cl/branding/img/logos/l_cmmedu.png" alt="">
          <img decoding="async" loading="lazy" src="https://static.redfid.cl/branding/img/logos/l_fondef.jpg" alt="" style="padding: 0px; max-width: 34%;">
      </div>
      <div class="footer-logos-container-2">
          <img decoding="async" loading="lazy" src="https://static.redfid.cl/branding/img/logos/l_cpeip.png" alt="">
          <img decoding="async" loading="lazy" src="https://static.redfid.cl/branding/img/logos/l_consorcio.jpg" alt="">
          <img decoding="async" loading="lazy" src="https://static.redfid.cl/branding/img/logos/l_oei.png" alt="" style="padding: 0px;">
          <img decoding="async" loading="lazy" src="https://static.redfid.cl/branding/img/logos/l_unesco.jpg" alt="" style="padding: 0px;">
      </div>
      <hr class="footer-line">
      <div class="col-12 my-auto pb-4">
        <a href="https://open.edx.org">
          <img src="https://files.edx.org/openedx-logos/open-edx-logo-tag.png" alt="Con la tecnología de Open edX" width="140">
        </a>
      </div>
      <p class="footer-copyright">© RedFID. Todos los derechos reservados, excepto donde se indique lo contrario.</p>
      <a style="color: #40b4ba;" href="https://www.redfid.cl/terminos-y-condiciones" target="_blank" class="footer-copyright">Términos y condiciones</a>
      <p class="footer-copyright">Copyright © 2024 - RedFID</p>
  </div>
</footer>


% if context.get('include_language_selector', footer_language_selector_is_enabled()):
    <%include file="${static.get_template_path('widgets/footer-language-selector.html')}"/>
% endif

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
