## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled

  from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers

%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<footer class="eol-header-container eol-footer border-0 shadow-none mt-auto text-center mx-auto mb-4" style="max-width: 100%;">
  <div class="row d-flex border-0 shadow-none" style="justify-content: center;">
    <div class="col-12 my-auto pb-4">
      <img src="${static.url('redfid-theme/images/logos-footer.png')}" class="img-fluid mx-auto" style="max-height: 70px;max-width: 95%;">
    </div>
  </div>
  <div class="col-12 my-auto pb-4">
    <a href="https://open.edx.org">
      <img src="https://files.edx.org/openedx-logos/open-edx-logo-tag.png" alt="Con la tecnología de Open edX" width="140">
    </a>
  </div>
  <p class="text-center">
    <small class="text-muted">
      ${footer['copyright']}
      </br>
      Copyright © 2023 - REDFID - CMMEdu
    </small>
  </p>
</footer>

% if context.get('include_language_selector', footer_language_selector_is_enabled()):
    <%include file="${static.get_template_path('widgets/footer-language-selector.html')}"/>
% endif

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif