<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
      <header>
        <center>
          <img width="100%" style="max-width: 1024px;" src="https://static.sumaysigue.uchile.cl/redfid/Assets/img/header_lms_02.png" />
        </center>
      </header>
      <div class="title">
        <center>
          <div style="max-width: 1024px; text-align: left; font-size: x-large; padding: 44px; line-height: 1.24em;" >Bienvenido a los módulos REDFID</div>
        </center>
      </div>
      <%include file="${courses_list}" />
    </section>
</main>



<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif