<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from django.utils.http import urlquote

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
  <section class="home">
    <div class="titles-container">
      <p class="landing-title-1">RedFID |</p>
      <p class="landing-title-m">RedFID</p>
      <p class="landing-title-2">Aprendizaje Profesional</p>
    </div>
    <p class="landing-description">En este espacio tendrás la posibilidad de fortalecer tu aprendizaje profesional realizando cursos online y accediendo a distintos recursos, como talleres, webinars y cápsulas.</p>
    <h1 class="landing-subtitle">Cursos online</h1>
    <%include file="${courses_list}" />
    <h1 class="landing-subtitle">Material audiovisual</h1>
    <div class="audiovisual-container">
      <div class="audiovisual-image">
        <a href="/auth/login/redfid/?auth_entry=login&next=${urlquote('/dashboard?display=1')}"><img src="${static.url('images/TW.png')}" style="width: 100%"></a>
      </div>
      <div class="audiovisual-image">
        <a href="/auth/login/redfid/?auth_entry=login&next=${urlquote('/dashboard?display=2')}"><img src="${static.url('images/CP.png')}" style="width: 100%"></a>
      </div>
    </div>
  </section>
  <div id="twc-main">
  </div>
</main>



<%block name="js_extra">
   <script src="${static.url('js/public.js')}"></script>
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif