## mako

<%page expression_filter="h" args="online_help_token, use_cookie_banner=False"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
import waffle

from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangolib.markup import HTML, Text

# App that handles subdomain specific branding
from lms.djangoapps.branding import api as branding_api
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers

%>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

<%
  unsupported_browser_alert_versions = configuration_helpers.get_value('UNSUPPORTED_BROWSER_ALERT_VERSIONS', settings.FEATURES.get('UNSUPPORTED_BROWSER_ALERT_VERSIONS'))
%>
% if waffle.switch_is_active('enable_unsupported_browser_alert'):
  <script>
    var $buoop = {
        notify:${unsupported_browser_alert_versions | n, decode.utf8},
        api:5,
        reminder:0
    };
    function $buo_f() {
        var e = document.createElement("script");
        e.src = "//browser-update.org/update.min.js";
        document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
  </script>
% endif

<header id="header">
    <script src="${static.url('js/header.js')}"></script>
    <div class="header-bar"></div>
    <div style="box-shadow: 0px 6px 4px -4px #cccccc; position: relative; z-index: 100;">
        <div class="header-container">
            <div class="header-trigger">&#9776;</div>
            <div class="header-navigation-container">
                <a class="header-navigation-logo" href="https://www.redfid.cl" target="_self">
                    <img class="header-logo" src="${static.url('images/logo.png')}">
                </a>
                <a class="header-navigation-link-active" href="/" target="_self">
                    <p class="header-navigation-link-label" style="margin: revert;">Aprendizaje Profesional</p>
                </a>
                <a class="header-navigation-link" href="https://comunidades.redfid.cl" target="_self">
                    <p class="header-navigation-link-label" style="margin: revert;">Comunidades</p>
                </a>
                <a class="header-navigation-link" href="https://recursos.redfid.cl" target="_self">
                    <p class="header-navigation-link-label" style="margin: revert;">Recursos</p>
                </a>
                <a class="header-navigation-link" href="https://www.redfid.cl/eventos" target="_self">
                    <p class="header-navigation-link-label" style="margin: revert;">Noticias y Eventos</p>
                </a>
            </div>
            <div>
                <a class="header-navigation-logo-mobile" href="/" target="_self">
                    <img class="header-logo" src="${static.url('images/logo.png')}">
                </a>
            </div>
            % if user.is_authenticated:
                <div class="toggle-user-menu">
                    <a class="toggle-user-menu header-navigation-logo-mobile" target="_self">
                        <img class="toggle-user-menu header-usericon" src="">
                    </a>
                </div>
            % else:
            <div class="hide-on-desktop toggle-user-menu time-to-get-ill" style="background-color: #40b4ba; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; border-radius: 50%;">
                <svg class="toggle-user-menu" xmlns="http://www.w3.org/2000/svg" style="padding-left: 1px;" width="16px" height="16px" aria-hidden="true" focusable="false" viewBox="0 0 512 512">
                  <path
                    fill="white"
                    d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"
                    />
                </svg>
              </div>
            % endif
            <div class="header-login-container">
                % if user.is_authenticated:
                <div class="toggle-user-menu">
                    <a class="toggle-user-menu time-to-get-ill" style="background-color: #40b4ba; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; border-radius: 50%;" target="_self">
                        <img class="toggle-user-menu header-usericon" src="">
                    </a>
                </div>
                % else:
                <a class="register-button" href="https://www.redfid.cl/formulario-de-registro" target="_self">Registrarse</a>
                <div class="toggle-user-menu time-to-get-ill" style="background-color: #40b4ba; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; border-radius: 50%;">
                    <svg class="toggle-user-menu" xmlns="http://www.w3.org/2000/svg" style="padding-left: 1px;" width="16px" height="16px" aria-hidden="true" focusable="false" viewBox="0 0 512 512">
                      <path
                        fill="white"
                        d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"
                        />
                    </svg>
                  </div>
                % endif
            </div>
        </div>
    </div>
    <div class="header-user-container-mobile" style="display: none;">
        % if user.is_authenticated:
        <a class="header-navigation-link-mobile" href="https://auth.redfid.cl/realms/REDFID/account/" target="_self">
            Cuenta (${user.username})
        </a>
        <a class="header-navigation-link-mobile" href="${reverse('redfid_edx_api:logout_get')}" target="_self">
            Cerrar sesión
        </a>
        % else:
        <a class="header-navigation-link-mobile" href="https://www.redfid.cl/formulario-de-registro" target="_self">
            Regístrate
        </a>
        <a class="header-navigation-link-mobile" href="/auth/login/tpa-saml/?auth_entry=login&next=%2F&idp=default" target="_self">
            Iniciar sesión
        </a>
        % endif
    </div>
    <div class="header-navigation-container-mobile" style="display: none;">
        <a class="header-navigation-link-mobile" href="https://www.redfid.cl" target="_self">
            Inicio
        </a>
        <a class="header-navigation-link-mobile-active" href="/" target="_self">
            Aprendizaje Profesional
        </a>
        <a class="header-navigation-link-mobile" href="https://comunidades.redfid.cl" target="_self">
            Comunidades
        </a>
        <a class="header-navigation-link-mobile" href="https://recursos.redfid.cl" target="_self">
            Recursos
        </a>
        <a class="header-navigation-link-mobile" href="https://www.redfid.cl/eventos" target="_self">
            Noticias y Eventos
        </a>
    </div>
    <script>
        window.onload = function() {
            function updateUserIcon(username) {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', 'https://api.redfid.cl/get_user_image_url/' + username, true);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        if (response.status === 100) {
                            var icons = document.querySelectorAll('.header-usericon')
                            icons.forEach(function(icon) {
                                icon.src = response.url;
                            });
                        } else {
                            var icons = document.querySelectorAll('.header-usericon')
                            icons.forEach(function(icon) {
                                icon.src = "/static/redfid-theme/images/nouser.png"
                            });
                        }
                    } else if (xhr.readyState === 4) {
                        var icons = document.querySelectorAll('.header-usericon')
                        icons.forEach(function(icon) {
                            icon.src = "/static/redfid-theme/images/nouser.png"
                        });
                    }
                };
                xhr.send();
            }
            let username = "${user.username}";
            if (username) {
                updateUserIcon(username);
            }
        };
    </script>
</header>

% if course:
<!--[if lte IE 9]>
<div class="ie-banner" aria-hidden="true">${Text(_('{begin_strong}Warning:{end_strong} Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.')).format(
    begin_strong=HTML('<strong>'),
    end_strong=HTML('</strong>'),
    chrome_link=HTML('<a href="https://www.google.com/chrome" rel="noopener" target="_blank">Chrome</a>'),
    ff_link=HTML('<a href="http://www.mozilla.org/firefox" rel="noopener" target="_blank">Firefox</a>'),
)}</div>
<![endif]-->
% endif

% if settings.FEATURES.get('ENABLE_COOKIE_CONSENT', False):
  <%include file="../widgets/cookie-consent.html" />
% endif

% if header_language_selector_is_enabled():
    <% languages = released_languages() %>
    % if len(languages) > 1:
        <form action="/i18n/setlang/" method="post" class="settings-language-form" id="language-settings-form">
            <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
            % if user.is_authenticated:
                <input title="preference api" type="hidden" class="url-endpoint" value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
            % else:
                <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('session_language')}" data-user-is-authenticated="false">
            % endif
            <label><span class="sr">${_("Choose Language")}</span>
            <select class="input select language-selector" id="settings-language-value" name="language">
                % for language in languages:
                    % if language[0] == LANGUAGE_CODE:
                        <option value="${language[0]}" selected="selected">${language[1]}</option>
                    % else:
                        <option value="${language[0]}" >${language[1]}</option>
                    % endif
                % endfor
            </select>
            </label>
        </form>
    % endif
% endif